* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #333;
}

.page-header {
	background: #ebebeb;
}

.page-header__top-section {
	display: flex;
}

.page-header__logo {
	display: block;
	margin-left: 40px;
	
}

.page-header__logo img {
	display: block;
	object-fit: cover;
    width: 72px;
	
}

.page-header__title {
    height: 72px;
    display: flex;
    align-items: center;
}

.page-header__title img{
    height: 32px;
}

.main-nav__menu {
	display: flex;
	margin: 0;
}

.main-nav__menu li{
	display: block;
	list-style-type: none;
	margin-right: 16px;
}

.main-nav__menu-item {
	line-height: 40px;
    display: block;
    padding: 0 16px;
	background: transparent;
	color: #2095a580;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}

.main-nav__menu-item--active {	
	border-bottom: 3px solid #2095a5;
	color: #2095a5;
}

.main-nav__menu-item:hover {	
	color: #2095a5;
}

h1 {
	margin: 0;
	padding: 0;
}

@media (max-width: 480px) {
	.main-nav__menu {
		flex-direction: column;
		padding: 0;
	}
	
	.main-nav__menu li {
		margin: 0;
	}
	.main-nav__menu-item {
        text-align: center;
		border-bottom: 0px solid transparent;
	}
	
	.main-nav__menu-item--active {
		background: #2095a5;
		color: #ebebeb;
	}
}